.app-layout--main {
  width: 100%;
}

.control-exercise {
  width: 100%;
}

.control-exercise .control-exercise--label {
  margin: 0px;
  padding: 3px 0px;
  justify-content: space-between;
}

.control-exercise .control-exercise--label .MuiFormControlLabel-label {
  margin-left: 8px;
}

.control-exercise .control-exercise--label:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}

.control-exercise .control-exercise--label:nth-child(even) {
  background-color: white;
}

.control-interval {
  width: 100%;
  margin-top: 5px;
}

.control-interval .control-interval--label {
  margin: 0px;
  padding: 3px 0px;
  justify-content: space-between;
}

.control-interval .control-interval--label .MuiFormControlLabel-label {
  margin-left: 8px;
}

.control-interval .control-interval--button-group {
  margin: 3px 9px;
}

.control-startstop {
  margin-top: 20px;
}

/* debugging */

/*

.control-exercise {
  background-color: red;
}

.control-interval {
  background-color: green;
}

*/
