.app-layout--main {
  width: 100%;
}

.form-group-exercise,
.form-group-interval {
  width: 100%;
}

.form-group-exercise .form-group-exercise--label,
.form-group-interval .form-group-interval--label {
  margin: 0;
  justify-content: space-between;
}

.form-group-exercise .form-group-exercise--label .MuiFormControlLabel-label,
.form-group-interval .form-group-interval--label .MuiFormControlLabel-label {
  margin-left: 8px;
}

.form-group-interval .form-group-interval--button-group {
  margin: 3px 9px;
}

/* debugging */

/*

.form-group-exercise {
  background-color: red;
}

.form-group-interval {
  background-color: green;
}

*/
